<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <style>
        body {background: black;}
    </style>
</head>
<body>
<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
    <div style="width: 60%; height: 100%; display: flex; flex-direction: column; align-items: center">
        <span style="color: orange; font-weight: bold; font-size: 20px">Уважаемый, {username}</span>
        <span style='color: white;'>Вы сделали запрос на восстановления пароля. Для установки нового пароля нажмите на кнопку</span>
        <a href="#" >
            <div style="margin-bottom: 20px; margin-top: 20px; width: 200px; height: 40px; border: 2px solid black; border-radius: 5px; display: flex; justify-content: center; align-items: center; cursor: pointer; color: white; background: orange;">Сменить пароль</div>
            <span style='color: white;'>Если Вы не запрашивали смену пароля, проигнорируйте письмо и Ваши учетные данные не будут изменены.</span>
    </div>
</div>
</body>
</html>
