<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Завершение регистрации</title>
    <style>
    </style>
</head>
<body>
<div style="background: black;">
    <table width="100%">
        <tr>
            <td align="center">
                <span style="color: orange; font-weight: bold; font-size: 20px">Уважаемый, {{username}}</span></td>
        </tr>
        <tr>
            <td align="center"><span style='color: white;'>Вы сделали запрос на восстановления пароля.
        <br>Для установки нового пароля нажмите на кнопку</span></td>
        </tr>
        <tr>
            <td align="center">
                <a href="{{url}}" style="display: block; margin-bottom:20px; margin-top:20px;width:200px;;border-radius:5px;color:white;background:orange; padding: 10px; text-decoration: none; cursor: pointer;" >
                    Сменить пароль
                </a>
                <span style='color: white;'>Если Вы не запрашивали смену пароля, проигнорируйте письмо и Ваши учетные данные не будут изменены.</span>

            </td>
        </tr>
    </table>
</div>
</body>
</html>
